*,
::after,::before{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent
}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
    display:block
}
body{
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff}
    [tabindex="-1"]
:focus{
    outline:0!important}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:.5rem}
p{
    margin-top:0;
    margin-bottom:1rem
}
abbr
[data-original-title],
abbr[title]{
    text-decoration:underline;
    -webkit-text-decoration:underline dotted;
    text-decoration:underline dotted;
    cursor:help;
    border-bottom:0;
    -webkit-text-decoration-skip-ink:none;
    text-decoration-skip-ink:none
}
address{
    margin-bottom:1rem;
    font-style:normal;
    line-height:inherit
}
dl,ol,ul{
    margin-top:0;
    margin-bottom:1rem
}
ol ol,ol ul,ul ol,ul ul{
    margin-bottom:0
}
dt{
    font-weight:700
}
dd{
    margin-bottom:.5rem;
    margin-left:0
}
blockquote{
    margin:0 0 1rem
}
b,strong{
    font-weight:bolder
}
small{
    font-size:80%
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
a{
    color:#007bff;
    text-decoration:none;
    background-color:transparent
}
a:hover{
    color:#0056b3;
    text-decoration:underline
}
a:not([href]):not([tabindex])
{
    color:inherit;
    text-decoration:none
}
a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{
    text-decoration:none
}
a:not([href]):not([tabindex]):focus{
    outline:0
}
code,kbd,pre,samp{
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size:1em
}
pre{
    margin-top:0;
    margin-bottom:1rem;
    overflow:auto
}
figure{
    margin:0 0 1rem
}
img{
    vertical-align:middle;
    border-style:none
}
svg{
    overflow:hidden;
    vertical-align:middle
}
table{
    border-collapse:collapse
}
caption{
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#6c757d;
    text-align:left;
    caption-side:bottom
}
th{
    text-align:inherit
}
label{
    display:inline-block;
    margin-bottom:.5rem
}
button{
    border-radius:0
}
button:focus{
    outline:1px dotted;
    outline:5px auto
    -webkit-focus-ring-color
}
button,input,optgroup,select,textarea{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
select{
    word-wrap:normal
}
[type=button],[type=reset],[type=submit],button{
    -webkit-appearance:button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    padding:0;
    border-style:none
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=date],input[type=datetime-local],input[type=month],input[type=time]{
    -webkit-appearance:listbox
}
textarea{
    overflow:auto;
    resize:vertical
}
fieldset{
    min-width:0;
    padding:0;
    margin:0;
    border:0
}
legend{
    display:block;
    width:100%;
    max-width:100%;
    padding:0;
    margin-bottom:.5rem;
    font-size:1.5rem;
    line-height:inherit;
    color:inherit;
    white-space:normal
}
progress{
    vertical-align:baseline
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{
    outline-offset:-2px;
    -webkit-appearance:none
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    font:inherit;
    -webkit-appearance:button
}
output{
    display:inline-block
}
summary{
    display:list-item;
    cursor:pointer
}
template{
    display:none
}
[hidden]{
    display:none!important
}
*{
    font-family:Poppins,sans-serif;
    font-family:Volkhov,serif;
    font-family:"Didact Gothic",sans-serif
}
html
{
    scroll-behavior:smooth
}
:root{
    --black-clr:#212832;
    --text-clr:#5E6282
}
.container{width:1140px;margin:0 auto}body{font-family:Arial;font-family:Muli,sans-serif}.nav-wrapper{width:auto;margin:15px auto 0 auto;text-align:center}.sl-nav{display:inline}.sl-nav ul{margin:0;padding:0;list-style:none;position:relative;display:inline-block}.sl-nav li{cursor:pointer;padding-bottom:10px}.sl-nav li ul{display:none}.sl-nav li:hover ul{position:absolute;top:29px;right:-15px;display:block;background:#fff;width:120px;padding-top:0;z-index:1;border-radius:5px;box-shadow:0 0 20px rgba(0,0,0,.2)}.sl-nav li:hover .triangle{position:absolute;top:15px;right:-10px;z-index:10;height:14px;overflow:hidden;width:30px;background:0 0}.sl-nav li:hover .triangle:after{content:"";display:block;z-index:20;width:15px;transform:rotate(45deg) translateY(0) translatex(10px);height:15px;background:#fff;border-radius:2px 0 0 0;box-shadow:0 0 20px rgba(0,0,0,.2)}.sl-nav li ul li{position:relative;text-align:left;background:0 0;padding:15px 15px;padding-bottom:0;z-index:2;font-size:15px;color:#3c3c3c}.sl-nav li ul li:last-of-type{padding-bottom:15px}.sl-nav li ul li span{padding-left:5px}.sl-nav li ul li span.active,.sl-nav li ul li span:hover{color:#146c78}.sl-flag{display:inline-block;box-shadow:0 0 3px rgba(0,0,0,.4);width:15px;height:15px;background:#aaa;border-radius:50%;position:relative;top:2px;overflow:hidden}.flag-de{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==);background-size:cover;background-position:center center}.flag-usa{background-size:cover;background-position:center center;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=)}.header__wrapper{height:100px;display:flex;justify-content:space-between;align-items:center}.header__logo{margin-top:-10px;margin-right:222px}
.header__link{
    font-family:"Didact Gothic";
    font-style:normal;
    font-weight:400;
    font-size:17px;
    line-height:22px;
    color:var(--black-clr);
    
    
}
.header__link a{
    text-decoration:none}
.header__link:hover{
    color:#f1a501;
    text-decoration:none;
    
}
.header__btn{
    border:1px solid var(--black-clr);
    box-sizing:border-box;
    background-color:transparent;
    border-radius:5px;
    width:102px;
    height:40px;
    font-family:"Didact Gothic";
    font-style:normal;
    font-weight:400;
    font-size:17px;
    line-height:22px;
    color:var(--black-clr);
    
}
.header__btn:hover{
    color: #f1a501;
    background-color:#fff;
    border:1px solid #f1a501;
    
}
.main{
    height:870px;
    background:url(../img/main_bg.jpg) 50% 50% no-repeat
}
.promo{
    margin-top:130px;
    position:relative
}
.promo__header{
    font-family:Poppins;
    font-style:normal;
    font-weight:700;
    font-size:20px;
    line-height:30px;
    text-transform:uppercase;
    color:#df6951}
.promo__subheader{
    margin-top:24px;
    width:553px;
    z-index:5;
    position:relative
}
.promo__subheader h2{
    font-family:Volkhov;
    font-style:normal;
    font-weight:700;
    font-size:84px;
    line-height:89px;
    letter-spacing:-.04em;
    color:#181e4b}
.promo #svg{
        position:absolute;
        top:121px;
        left:618px;
        z-index:1
}
.promo__descr{
    margin-top:30px;
    width:472px;
    font-family:Poppins;
    font-style:normal;
    font-weight:500;
    font-size:16px;
    line-height:30px;
    color:var(--text-clr)
}
.promo .flex-container{
    display:flex;
    justify-content:left;
    align-items:center;
    margin-top:34px
}
.promo__btn{
    width:170px;
    height:60px;
    background:#f1a501;
    border: 1px solid #f1a501;
    box-shadow:0 20px 35px rgba(241,165,1,.15);
    border-radius:10px;
    font-family:"Didact Gothic";
    font-style:normal;
    font-weight:400;
    font-size:18px;
    line-height:24px;
    text-align:center;
    color:#fff
}
.promo__btn:hover{
    color:#f1a501;
    background-color: #fff;
    border: 1px solid #f1a501;
}

.promo__btn_round{
    margin-left:44px;
    width:52px;
    height:52px;
    border:none;
    border-radius:100%;
    background:#df6951;
    box-shadow:0 15px 30px rgba(223,105,81,.3);
    position:relative
}
.promo__btn_round svg{
    position:absolute;
    top:50%;left:50%;
    transform:translate(-40%,-50%)
}

.promo__text{margin-left:21px;font-family:Poppins;font-style:normal;font-weight:500;font-size:17px;line-height:26px;color:#686d77}.services{min-height:525px;position:relative;margin-top:100px}.services__header{font-family:Poppins;font-style:normal;font-weight:600;font-size:18px;line-height:27px;text-align:center;color:var(--text-clr)}.services__subheader{font-family:Volkhov;font-style:normal;font-weight:700;font-size:50px;line-height:64px;text-align:center;text-transform:capitalize;color:#14183e}.services__pluses{position:absolute;top:-10px;right:296px}.services__wrapper{display:flex;justify-content:space-between;align-items:center;margin-top:66px}.services__rectangle{position:absolute;z-index:-1;top:420px;left:648px}.services__item{text-align:center}.services__item:nth-child(2){background:#fff;box-shadow:0 100px 80px rgba(0,0,0,.02),0 64.8148px 46.8519px rgba(0,0,0,.0151852),0 38.5185px 25.4815px rgba(0,0,0,.0121481),0 20px 13px rgba(0,0,0,.01),0 8.14815px 6.51852px rgba(0,0,0,.00785185),0 1.85185px 3.14815px rgba(0,0,0,.00481481);border-radius:36px;width:267px;height:328px;padding:0 42px 50px 44px;z-index:2;position:relative;margin-right:27px}.services__img:nth-child(2){position:absolute;top:-10px;left:-5px}.services__title{font-family:Poppins;font-style:normal;font-weight:600;font-size:20px;line-height:27px;color:#1e1d4c}.services__descr{font-family:Poppins;font-style:normal;font-weight:500;font-size:16px;line-height:26px;text-align:center;color:var(--text-clr);width:181px}.destination{margin-top:123px;position:relative}.destination__header{font-family:Poppins;font-style:normal;font-weight:600;font-size:18px;line-height:27px;text-align:center;color:var(--text-clr)}.destination__subheader{margin-top:8px;font-family:Volkhov;font-style:normal;font-weight:700;font-size:50px;line-height:64px;text-align:center;text-transform:capitalize;color:#14183e;text-align:center}.destination__decore{position:absolute;top:359px;right:274px}.destination__wrapper{margin-top:60px;display:flex;justify-content:space-between}.destination__item{width:384px;height:695px;position:relative}.destination__text{position:absolute;bottom:192px;width:100%;height:130px;background-color:#fff;border-radius:0 0 62px 62px;box-shadow:0 5px 4px -4px rgba(0,0,0,.1);padding:18px 40px 40px 40px}.destination__text>div{display:inline-block}.destination__item>img{-o-object-fit:cover;object-fit:cover;width:384px;height:695px}.destination .left{text-align:left}.destination .right{text-align:right}
.destination__price,.destination__title{
    font-family:Poppins;
    font-style:normal;
    font-weight:500;
    font-size:18px;line-height:124.5%;color:#5e6282}
.destination__title{
    margin-right:90px;
    margin-bottom:20px
}
.destination__title:hover{
     color: #f1a501;
     cursor: pointer;
}
.destination__days{
    font-family:Poppins;
    font-style:normal;
    font-weight:500;
    font-size:16px;
    line-height:124.5%;
    color:var(--text-clr);
    position:absolute;
    top:65px;left:76px
}
.destination__price{
    position:absolute;
    top:19px;
    right:45px
}.trip__wrapper{display:flex}.trip__header{font-family:Poppins;font-style:normal;font-weight:600;font-size:18px;line-height:27px;text-align:left;color:var(--text-clr)}.trip__subheader{margin-top:15px;font-family:Volkhov;font-style:normal;width:511px;font-weight:700;font-size:50px;line-height:64px;text-transform:capitalize;color:#14183e}.trip__points{display:flex;flex-direction:column;justify-content:space-between;align-items:center;height:290px;width:397px;margin-top:31px}.trip__item{display:grid;grid-template-columns:48px 327px;grid-template-rows:20px 44px;-moz-column-gap:21px;column-gap:21px;row-gap:6px}.trip__icon{margin-top:13px}.trip__title{font-family:Poppins;font-style:normal;font-weight:700;font-size:16px;line-height:124.5%;color:var(--text-clr)}.trip__descr{grid-column:2/3;font-family:Poppins;font-style:normal;font-weight:400;font-size:16px;line-height:124.5%;color:var(--text-clr)}.card{margin:93px 0 0 158px;position:relative;width:370px;height:400px;background:#fff;border-radius:26px;box-shadow:12px 14px 17px 1px rgba(0,0,0,.1)}.card__body{padding:20px 25px 31px 24px}.card__title{margin-top:26px;font-family:Poppins;font-style:normal;font-weight:500;font-size:18px;line-height:124.5%;letter-spacing:.015em;color:#080809}.card__descr{margin-top:13px;font-family:Poppins;font-style:normal;font-weight:500;font-size:16px;line-height:124.5%;letter-spacing:-.005em;color:#84829a}.card__links{margin:21px 0 0 16px;display:flex;width:124px;justify-content:space-between}.card__additional{display:flex;margin-top:30px;justify-content:space-between}.card__like{margin-left:146px}.card-small{width:263px;height:129px;background:#fff;box-shadow:0 100px 80px rgba(0,0,0,.02),0 64.8148px 46.8519px rgba(0,0,0,.0151852),0 38.5185px 25.4815px rgba(0,0,0,.0121481),0 20px 13px rgba(0,0,0,.01),0 8.14815px 6.51852px rgba(0,0,0,.00785185),0 1.85185px 3.14815px rgba(0,0,0,.00481481);border-radius:18px;display:grid;grid-template-columns:76px 187px;grid-template-rows:17px 22px 17px 37px;position:absolute;bottom:74px;right:-120px}.card-small__img{justify-self:center;grid-column:1/2;margin-top:16px}.card-small__wrapper{grid-column:2/3}.card-small__status{margin-top:16px;font-family:Poppins;font-style:normal;font-weight:500;font-size:14px;line-height:124.5%;letter-spacing:-.035em;color:#84829a}.card-small__title{margin-top:6px;font-family:Poppins;font-style:normal;font-weight:500;font-size:18px;line-height:124.5%;letter-spacing:-.015em;color:#080809}.card-small__percent{margin-top:14px;font-family:Poppins;font-style:normal;font-weight:500;font-size:14px;line-height:124.5%;letter-spacing:-.055em}.card-small__percent span{color:#8a79df}.card-small__divider{margin-top:10px;width:73px;height:5px;background:#8a79df;border-radius:30px}.rewiews{margin-top:209px;margin-bottom:100px}.rewiews .bla{display:flex;justify-content:space-between}.rewiews__header{font-family:Poppins;font-style:normal;font-weight:600;font-size:18px;line-height:27px;text-transform:uppercase;color:#5e6282}.rewiews__subheader{font-family:Volkhov;font-style:normal;font-weight:700;font-size:50px;line-height:64px;text-transform:capitalize;color:#14183e;width:409px}.rewiews__rewiew{width:504px;padding:28px 68px 34px 34px;position:relative;border-radius:30px;box-shadow:1px 5px 13px 3px rgba(0,0,0,.1)}.rewiews__icon{position:absolute;top:-34px;left:-69px}.rewiews__descr{font-family:Poppins;font-style:normal;font-weight:500;font-size:16px;line-height:32px;color:#5e6282}.rewiews__name{font-family:Poppins;font-style:normal;font-weight:600;font-size:18px;line-height:27px;color:#5e6282}.rewiews__location{font-family:Poppins;font-style:normal;font-weight:500;font-size:14px;line-height:21px;color:#5e6282}.companies__wrapper{display:flex;justify-content:space-between;align-items:center}.companies__item{filter:grayscale(100%);transition:all .6s}.companies__item:hover{filter:grayscale(0);transform:scale(1.06)}.subscribe{margin-top:203px;position:relative}.subscribe *{z-index:1}.subscribe__text{font-family:Poppins;font-style:normal;font-weight:600;font-size:33px;line-height:54px;text-align:center;color:#5e6282}.subscribe__input{margin:96px 0 0 264px;position:relative}.subscribe__input::before{content:"";position:absolute;background:url(../icons/mail.svg) no-repeat center left;width:21px;height:18px;left:28px;top:25px}
.subscribe__btn{
    width:180px;
    height:68px;
    background:linear-gradient(180deg,#ff946d 0,#ff7d68 100%);
    border-radius:10px;
    font-family:Poppins;
    font-style:normal;
    font-weight:600;
    font-size:17px;
    line-height:23px;
    text-align:center;
    color:#fff;
    border:none;
    margin-left:24px
}
.subscribe__btn:hover{
    background: #fff;
    color: #ff7d68 ;
    border: 1px solid  ;
}
.subscribe input[type=email]{
    width:421px;
    height:68px;
    background-color:#fff;
    border-radius:10px;
    border:none;
    padding-left:66px;
    font-family:Poppins;
    font-style:normal;
    font-weight:400;
    font-size:14px;
    line-height:17px;
    color:#39425d}
.subscribe img{position:absolute;z-index:-1}.subscribe__fly{top:-31px;right:337px}.subscribe__pluses{top:195px;right:290px}.subscribe__decore{top:-86px;right:424px}.subscribe__decore_2{top:49px;left:398px;filter:grayscale(100%);opacity:.2}.footer{margin-top:244px}.footer__wrapper{display:flex;justify-content:space-between;align-items:start}.footer__links{display:flex;flex-direction:column;justify-content:space-between;margin-top:31px;height:91px}.footer__header{font-family:Poppins;font-style:normal;font-weight:500;font-size:44px;line-height:27px;color:#181e4b}.footer__header:hover{text-decoration:none;color:#181e4b}
.footer__descr{width:207px;font-family:Poppins;font-style:normal;font-weight:500;font-size:13px;line-height:124.5%;color:var(--text-clr);margin-top:40px}
.footer__title{font-family:Poppins;font-style:normal;font-weight:700;font-size:21px;line-height:124.5%;color:#080809}
.footer__link{
    font-family:Poppins;
    font-style:normal;
    font-weight:500;
    font-size:18px;
    line-height:124.5%;
    color:var(--text-clr);
}
.footer__link:hover{
    color:#f1a501;
}
.footer__appname{font-family:Poppins;font-style:normal;font-weight:500;font-size:20px;line-height:124.5%;letter-spacing:.005em;color:var(--text-clr);margin-top:26px}
.footer__logos{display:flex;justify-content:space-between;align-items:center;width:177px;height:45px}
.footer__logo{width:41px;height:41px;position:relative;border-radius:100%;transition:all .9s ease-in}
.footer__logo:hover{background:conic-gradient(from 180deg at 50% 50%,#b8d2f1 0deg,#f289aa 60deg,#c68bf0 106.09deg,#d164da 153.75deg,#c963e8 221.25deg,#bfc2e8 258.75deg,#ffc999 288.75deg,#d0d8c9 315deg,#bad0f1 334.13deg,#ced8cb 358.97deg,rgba(255,255,255,0) 360deg);box-shadow:0 2px 10px rgba(0,0,0,.1)}
.footer__logo:hover svg{fill:#fff}
.footer__logo svg{width:16px;height:16px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.footer__apps{margin-top:16px}
.footer__apps #appstore{margin-left:7px}